---
title: Barevné Učení - soukromá speciálně-pedagogická praxe
description: Barevné Učení - soukromá speciálně-pedagogická praxe
changefreq: daily
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.11&appId=228562647603140';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="strip">
	<div class="container">
		<h1 class="main-title with-subtitle">{% include barevne_uceni.html %}</h1>
		<h2 class="sub-title">Soukromá speciálně-pedagogická praxe</h2>
	</div>
</header>

<section class="strip" id="o-nas">
	<div class="container">
		<p>Barevné učení vzniklo v září, v roce 2017, jako splněný sen dvou kamarádek, speciálních pedagogů. Vytvořily jsme si prostor, kde můžeme pomáhat dětem podle našich představ a nejlepšího vědomí a svědomí. Zaměřujeme se na děti ve věku od 3 do 12 let, které mají potíže s řečí, grafomotorikou, pozorností, školními dovednostmi a podobně. Nenásilnou formou podporujeme a rozvíjíme všechny důležité dovednosti a schopnosti dítěte. Využíváme širokou paletu pomůcek, metod a technik, které přizpůsobujeme potřebám a schopnostem každého malého klienta. Stále se vzděláváme, studujeme a objevujeme nové metody a možnosti, jak dětem pomoci bez zbytečného drilu a stresu. Snažíme se, aby u nás bylo dětem dobře a rády se i s rodiči vracely.</p>

		<p>A co je nejdůležitější, pracujeme s úsměvem, hravě a barevně.</p>

		<p>U nás učení není <span class="larger-font"><i class="syl gray">nuda</i></span>, u nás je to <span class="larger-font"><i class="syl ba">z</i><i class="syl rev">á</i><i class="syl ne">b</i><i class="syl u">a</i><i class="syl ce">v</i><i class="syl ni">a</i></span>!</p>

		<div class="galery">
			<img src="/assets/img/galery/carpet.jpg" data-ref="/assets/img/galery/carpet-large.jpg" class="open-galery" alt="">
			<img src="/assets/img/galery/faces-cards.jpg" data-ref="/assets/img/galery/faces-cards-large.jpg" class="open-galery" alt="">
			<img src="/assets/img/galery/place.jpg" data-ref="/assets/img/galery/place-large.jpg" class="open-galery" alt="">
			<img src="/assets/img/galery/pencils.jpg" data-ref="/assets/img/galery/pencils-large.jpg" class="open-galery" alt="">
			<img src="/assets/img/galery/table.jpg" data-ref="/assets/img/galery/table-large.jpg" class="open-galery" alt="">
		</div>
	</div>
</section>

<div class="clear"></div>

<section class="strip green" id="sluzby">
	<div class="container">
		<h2>Co děláme</h2>
		<ul>
			<li><a href="{{ site.baseurl }}{% link pages/logopedie-pro-predskolaky.html %}">Logopedie pro předškoláky</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/predskolni-pripravka.html %}">Předškolní přípravka</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/napravy-dysgrafie.html %}">Nápravy Dysgrafie a grafomotorických potíží</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/kupoz.html %}">KUPOZ - Program pro rozvoj pozornosti</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/napravy-dyslexie.html %}">Nápravy Dyslexie a jiných specifických poruch učení</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/trenink-elkonin.html %}">Trénink jazykových schopností podle D.B. Elkonina</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/hypo.html %}">HYPO - Stimulační program rozvíjející pozornost</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/poradna.html %}">Pedagogické a výchovné poradenství</a></li>
		</ul>
	</div>
</section>

<div class="clear"></div>

<section class="strip no-space-bottom" id="profil">
	<div class="container space-top">
		<div class="left half bordered">
			<div class="profile large">
				{% assign profile = site.data.people['katka'] %}
				<img src="{{profile.picture}}" class="open-galery" alt="{{profile.name}}" data-ref="{{profile.picture_large}}">
				<h3><a href="{{ site.baseurl }}{{profile.page}}">{{profile.name}}</a></h3>
				<p>{{profile.bio}}</p>

				<div class="profile">
					<i class="fa fa-graduation-cap" aria-hidden="true"></i> <a href="{{ site.baseurl }}{{profile.page}}">Vzdělání a kvalifikace</a><br>
					<i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{profile.phone | remove:' '}}">{{profile.phone}}</a><br>
					<i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{profile.email}}">{{profile.email}}</a><br>
					<i class="fa fa-id-card-o" aria-hidden="true"></i> ič: {{profile.ic}}
				</div>
			</div>
		</div>

		<div class="right half">
			<div class="profile large">
				{% assign profile = site.data.people['lucka'] %}
				<img src="{{profile.picture}}" class="open-galery" alt="{{profile.name}}" data-ref="{{profile.picture_large}}">
				<h3><a href="{{ site.baseurl }}{{profile.page}}">{{profile.name}}</a></h3>
				<p>{{profile.bio}}</p>

				<div class="profile">
					<i class="fa fa-graduation-cap" aria-hidden="true"></i> <a href="{{ site.baseurl }}{{profile.page}}">Vzdělání a kvalifikace</a><br>
					<i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{profile.phone | remove:' '}}">{{profile.phone}}</a><br>
					<i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{profile.email}}">{{profile.email}}</a><br>
					<i class="fa fa-id-card-o" aria-hidden="true"></i> ič: {{profile.ic}}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="strip" id="kontakt">
	<div class="container">
		<h2>Kontakty</h2>
		<div class="left half">
			<div class="fb-page" data-href="https://www.facebook.com/barevneuceni/" data-tabs="timeline" data-width="500" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/barevneuceni/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/barevneuceni/">Barevné učení</a></blockquote></div>
		</div>
		<div class="right half">
			{% include contact_form.html email=profile.email %}
		</div>
	</div>
</section>

<div class="clear"></div>

<section id="mapa" class="strip"></section>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgzOxHNCWwjK6j0sGPbu5dfrYFWKQwFy8&callback=init_map"></script>
