---
title: Barevné Učení - soukromá speciálně-pedagogická praxe
description: Barevné Učení - soukromá speciálně-pedagogická praxe
changefreq: daily
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.11&appId=228562647603140';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="strip">
	<div class="container">
		<h1 class="main-title with-subtitle">{% include barevne_uceni.html %}</h1>
		<h2 class="sub-title">Soukromá speciálně-pedagogická praxe</h2>
	</div>
</header>

<section class="strip">
	<div class="container">
		<p>Barevné učení vzniklo v září, v roce 2017, jako splněný sen dvou kamarádek, speciálních pedagogů. Vytvořily jsme si prostor, kde můžeme pomáhat dětem podle našich představ a nejlepšího vědomí a svědomí. Zaměřujeme se na děti ve věku od 3 do 12 let, které mají potíže s řečí, grafomotorikou, pozorností, školními dovednostmi a podobně. Nenásilnou formou podporujeme a rozvíjíme všechny důležité dovednosti a schopnosti dítěte. Využíváme širokou paletu pomůcek, metod a technik, které přizpůsobujeme potřebám a schopnostem každého malého klienta. Stále se vzděláváme, studujeme a objevujeme nové metody a možnosti, jak dětem pomoci bez zbytečného drilu a stresu. Snažíme se, aby u nás bylo dětem dobře a rády se i s rodiči vracely.</p>

		<p>A co je nejdůležitější, pracujeme s úsměvem, hravě a barevně.</p>

		<p>U nás učení není <span class="larger-font"><i class="syl gray">nuda</i></span>, u nás je to <span class="larger-font"><i class="syl ba">z</i><i class="syl rev">á</i><i class="syl ne">b</i><i class="syl u">a</i><i class="syl ce">v</i><i class="syl ni">a</i></span>!</p>
	</div>
</section>

<div class="clear"></div>

<section class="strip green">
	<div class="container">
		<h2>Co děláme</h2>
		<ul>
			<li><a href="{{ site.baseurl }}{% link pages/logopedie-pro-predskolaky.html %}">Logopedie pro předškoláky</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/predskolni-pripravka.html %}">Předškolní přípravka</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/napravy-dysgrafie.html %}">Nápravy Dysgrafie a grafomotorických potíží</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/kupoz.html %}">KUPOZ - Program pro rozvoj pozornosti</a></li>
			<li><a href="{{ site.baseurl }}{% link pages/napravy-dyslexie.html %}">Nápravy Dyslexie a jiných specifických poruch učení</a></li>
			<li>Trénink jazykových schopností podle D.B. Elkonina</li>
			<li>Individuální výuka metody znak do řeči</li>
			<li>Pedagogické a výchovné poradenství</li>
		</ul>
	</div>
</section>

<div class="clear"></div>

<section class="strip no-space-bottom">
	<div class="container space-top">
		<div class="left half bordered">
			<div class="profile large">
				<img src="/assets/img/katka.jpg" class="open-galery" alt="Mgr. Kateřina Tyšlerová">
				<h3><a href="{{ site.baseurl }}{% link pages/katka.html %}">Mgr. Kateřina Tyšlerová</a></h3>
				<p>Jsem vystudovaný speciální pedagog, logoped a práci, s především předškolními dětmi, se věnuji přibližně deset let. Na mojí práci mě nejvíce baví dětský pohled na svět, jejich fantazie bezprostřednost, upřímnost a hravost. Největší odměnou je pro mě dětský úsměv, nadšené dítě a spokojený rodič.</p>
				<p><a href="{{ site.baseurl }}{% link pages/katka.html %}">Vzdělání a kvalifikace <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>

			</div>
		</div>

		<div class="right half">
			<div class="profile large">
				<img src="/assets/img/lucka.jpg" class="open-galery" alt="Mgr. Lucie Vítková">
				<h3><a href="{{ site.baseurl }}{% link pages/lucka.html %}">Mgr. Lucie Vítková</a></h3>
				<p>Jsem budoucí arteterapeut a vystudovaný speciální pedagog. Zaměřuji se především na děti se specifickými vývojovými poruchami školních dovedností. Proto pracuji nejen v Barevném učení ale i jako školní speciální pedagog v ZŠ. Nejkrásnější na mé práci je vidět, jak děti a mnohdy i rodiče, během pravidelných lekcí rozkvétají. Jsou klidnější, šikovnější, veselejší a těší se na společnou práci.</p>

				<p><a href="{{ site.baseurl }}{% link pages/lucka.html %}">Vzdělání a kvalifikace <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
			</div>
		</div>
	</div>
</section>


<section class="strip">
	<div class="container">
		<h2>Kontakty</h2>

		<div class="left half">
			{% assign profile = site.data.people["katka"] %}
			{% include contact_profile.html profile=profile %}

			{% assign lucka = site.data.people["lucka"] %}
			{% include contact_profile.html profile=lucka %}
		</div>
		<div class="right half">
			{% include contact_form.html email=profile.email %}
		</div>
	</div>
</section>

<section class="strip">
	<div class="container">
		<h2 class="">Kde nás najdete</h2>
		<p>Pod Kaštany 183/3, Praha 6 - Dejvice, první patro - dveře č. 22</p>
		<div id="maps" class="left half">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1402.2493421141533!2d14.404227075266569!3d50.09815685081143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b9520b6f49757%3A0xdd190d28a9780144!2sPod+ka%C5%A1tany+183%2F3%2C+160+00+Praha+6-Dejvice!5e0!3m2!1scs!2scz!4v1511110653990" frameborder="0" width="400" height="300" style="border:0" allowfullscreen></iframe>
		</div>

		<div class="right half">
			<div class="fb-page" data-href="https://www.facebook.com/barevneuceni/" data-tabs="timeline" data-width="500" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/barevneuceni/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/barevneuceni/">Barevné učení</a></blockquote></div>
		</div>
	</div>
	<div class="clear"></div>
</section>
