<div class="strip" id="kontakt">
	<div class="container">
		{% if page.profile %}
			<h2>Napište mi</h2>
		{% else %}
			<h2>Napište nám</h2>
		{% endif %}

		<div class="left half">
			{% if page.profile %}
				{% assign profile = site.data.people[page.profile] %}
				{% include contact_profile.html profile=profile %}
			{% else %}
				{% assign profile = site.data.people["katka"] %}
				{% include contact_profile.html profile=profile %}

				{% assign lucka = site.data.people["lucka"] %}
				{% include contact_profile.html profile=lucka %}
			{% endif %}
		</div>

		<div class="right half">
			<!-- {% include contact_form.html email=profile.email %} -->
		</div>
	</div>
	<div class="clear"></div>
</div>