<head>
	<title>{{ page.title }}</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102112037-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-102112037-1');
	</script>

	<!-- meta -->
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<!-- favicon -->
	<link rel="shortcut icon" href="{{ site.url }}/assets/img/icons/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{ site.url }}/assets/img/icons/favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/assets/img/icons/favicon-96x96.png">

	<!-- styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/38f592ea9c.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web&amp;subset=latin-ext">
	<link rel="stylesheet" href="https://feimosi.github.io/baguetteBox.js/css/baguetteBox.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

	<!-- javascript -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script async type="text/javascript" src="/assets/js/main.js"></script>
</head>