---
---

/* COLORS */

$front-color: #555555;

$gray-color-back: #cccccc;
$gray-color-front: #777777;
$green-color-back: #ccd755;
$orange-color-front: #f8a45b;
$blue-color-back: #538eca;
$blue-color-front: #185ba5;
$red-color-front: #dd4635;
$yellow-color-front: #ffe121;


/* RESET */

* {
    box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	font-weight: 100;
}

body {
	font-family: 'Titillium Web', sans-serif;
	color: $front-color;
	position: relative;
	font-size: 125%;
}

iframe {
	border:0;
	width: 100%;
	pointer-events: none;
}

/* CONTAINERS */

.clear {
	clear: both;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	clear: both;
}

.container.space-top {
	margin-top: 20px;
}

.strip {
	padding-top: 1em;
	padding-bottom: 2em
}

.strip.no-space-bottom {
	padding-bottom: 0
}

.strip.green {
	background-color: $green-color-back;

	li:before {
		color: white;	
	}

	a {
		border-bottom: 1px solid white;
	}
}

.half {
	width: 50%;
}

.left.half {
	float: left;
	padding-right: 20px;
}

.left.half.bordered {
	border-right: 1px solid $gray-color-back;	
}

.right.half {
	float: right;
	padding-left: 20px;
}

@media only screen and (max-width: 820px) {
	.half {
		width: 100%;
	}

	.left.half, .right.half {
		float: none;
	}

	.left.half.bordered {
		border: none;
	}

	.right.half, .left.half {
		padding-left: 0;
		padding-right: 0;
	}
}

/* BASIC STYLES */

a {
	color: $front-color;
	text-decoration: none;
	border-bottom: 1px solid $gray-color-back;
}

p {
	text-align: justify;
	margin-top: 0;
}

/* FLASHES */

#flashes {
	position: fixed;
	width: 100%;
}

.flash {
	margin: 1em;
	background-color: $blue-color-back;
	color: white;
	padding: 0.5em;
	position: relative;
	padding-right: 2.5em;

	button {
		color: white;
		border: none;
		background: none;
		font-weight: bold;
		font-size: 150%;
		position: absolute;
		right: 15px;
		top: 5px;
		cursor: pointer;
	}

	p {
		margin-bottom: 0;
	}

	a {
		color: white;
		border-color: white;
	}
}

.flash.failure {
	background-color: $red-color-front;
}

@media only screen and (max-width: 430px) {
	
}

/* HEADER */

h1 {
	text-align: center;
	margin-top: 70px;
	color: rgb(83, 142, 202);
	font-size: 50px;
}

h1.with-subtitle {
	margin-bottom: 0;
}

h1.main-title {
	font-size: 80px;
	color: $blue-color-front;
	margin-top: 20px;
}

@media only screen and (max-width: 650px) {
	h1 {
		font-size: 40px;
	}
}

h2 {
	margin-bottom: 0.5em;
	margin-top: 0;
}

h2.sub-title {
	color: $gray-color-front;
	text-align: center;
	margin: 0px 0px 50px 0px;
	text-transform: uppercase;
	font-size: 121%
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
}

h4 {
	margin-top: 15px;
	margin-bottom: 0;
}

/* PRICELIST */

table.pricelist td:first-child {
	padding-right: 2em;
}

/* FORMS */

input, textarea {
	display: inline-block;
	width: 100%;
	padding: 6px 12px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	margin-bottom: 6px;
	border: 2px solid $orange-color-front;
}

textarea {
	height: 170px;
}

input[type="submit"] {
	padding: 15px 0;
	color: white;
	background-color: $orange-color-front;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: white;
	color: $orange-color-front;
}

input[type="submit"]:disabled {
	background-color: white;
	border-color: $gray-color-front;
	color: $gray-color-front;
	cursor: progress;
}

input[type="submit"]:disabled:hover {
	background-color: white;
}

/* LISTS */

ul {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		padding-left: 1em; 
		text-indent: -1.1em;
	}

	li::before {
		font: normal normal normal 14px/1 FontAwesome;
		content: "\f10c ";
  		margin-right: 10px;  	
		color: #ccd755;
	}
}

/* PROFILE */

.profile {
	margin-bottom: 40px;

	img {
		margin-top: 5px;
		display: inline-block;
		float: left;
		width: 120px;
		margin-right: 10px;
	}
}

.profile.large img {
	width: 140px;
}

.profile .fa {
	color: $orange-color-front;
}

img.large-profile {
	width: 285px;
	float: left;
	margin-right: 1em;
	margin-top: 5px;
}

@media only screen and (max-width: 430px) {
	.profile img {
		display: none;
	}

	.profile.large img {
		float: none;
		display: block;
		margin-bottom: 5px;
		align: center
	}
}

/* MENU */

menu.strip {
	position: fixed;
	width: 100%;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 15px;
	top: 0;
	margin: 0;

	div {
		padding: 0
	}

	a {
		font-weight: bold;
		color: #1E824C;
		border: none;
	}
}

header.strip {
	padding-bottom: 0;
}

/* COLOR TITLE */

i.syl {
	font-style: normal;
}

i.syl.ba {
	color: $green-color-back;
}

i.syl.rev {
	color: $blue-color-back;
}

i.syl.ne {
	color: $blue-color-front;
}

i.syl.u {
	color: $red-color-front;
}

i.syl.ce {
	color: $orange-color-front;
}

i.syl.ni {
	color: $yellow-color-front;
}
