---
---

/* LAYOUT */

$front-color: #555555;

$gray-color-back: #ccc;

$green-color-front: #b3ca00;
$green-color-back: #ccd755;

$orange-color-front: #f8a45b;

$blue-color-front: #026ab3;

* {
    box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	font-weight: 100;
}

body {
	font-family: 'Titillium Web', sans-serif;
	color: $front-color;
	position: relative;
	font-size: 125%;
}

iframe {
	border:0; width: 100%
}

.clear {
	clear: both;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	clear: both;
}

.container.space-top {
	margin-top: 20px;
}

.strip {
	padding-top: 1em;
	padding-bottom: 2em
}

.strip.green {
	background-color: $green-color-back;
}

.half {
	width: 50%;
}

.left.half {
	float: left;
	padding-right: 20px;
}

.right.half {
	float: right;
	padding-left: 20px;
}

@media only screen and (max-width: 820px) {
	.half {
		width: 100%;
	}

	.left.half, .right.half {
		float: none;
	}
}

a {
	color: $front-color;
	text-decoration: none;
	border-bottom: 1px solid $front-color;
}

p {
	text-align: justify;
	margin-top: 0;
}


h1 {
	text-align: center;
	margin-top: 70px;
}


h2 {
	margin-bottom: 0.5em;
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
}

h4 {
	margin-top: 15px;
	margin-bottom: 0;
}

table.pricelist td:first-child {
	padding-right: 2em;
}

input, textarea {
	display: inline-block;
	width: 100%;
	padding: 6px 12px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	margin-bottom: 6px;
	border: 2px solid $orange-color-front;
}

textarea {
	height: 170px;
}

input[type="submit"] {
	padding: 15px 0;
	color: white;
	background-color: $orange-color-front;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: white;
	color: $orange-color-front;
}

.profile {
	 margin-bottom: 40px;
}

.profile img {
	margin-top: 5px;
	display: inline-block;
	float: left;
	width: 120px;
	margin-right: 10px;
}

.profile.large img {
	width: 140px;
}

.left.half.bordered {
	border-right: 1px solid $gray-color-back;	
}

@media only screen and (max-width: 820px) {
	.left.half.bordered {
		border: none;
	}

	.right.half, .left.half {
		padding-left: 0;
		padding-right: 0;
	}
}

.profile .fa {
	color: $orange-color-front;
}



menu.strip {
	position: fixed;
	width: 100%;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 15px;
	top: 0;
	margin: 0
}

menu.strip div {
	padding: 0
}

menu.strip a {
	font-weight: bold;
	color: #1E824C;
	border: none;
}


header.strip {
	padding-bottom: 0;
}


h1.main-title {
	font-size: 80px;
	text-align: center;
	color: #1E824C;
	margin: 0;
}

h2.main-title {
	color: #2980b9;
	text-align: center;
	margin: 0px 0px 50px 0px;
	text-transform: uppercase;
	font-size: 121%
}

i.b {
	color: #F5AB35;
	font-style: normal;
}

i.u {
	color: #EF4836;
	font-style: normal;
}

